!!!
%html
  %head
    %title Mobile Wikipedia Statistics
    %style{:type => "text/css"}
      body { font-family: Arial,san-serif; }
      table td { padding: 10px; border: 1px solid; }
  %body
    = yield