.DS_Store
log/*
tmp/*
stats/tmp
TAGS
*~
.#*
public/grammar
schema/schema.rb
schema/*_structure.sql
schema/*.sqlite3
schema/*.sqlite
schema/*.db
bin
gems
*.sqlite
*.sqlite3
*.db
src/*
.hgignore
.hg/*
.svn/*
.*.swp
.project
.settings
