.DS_Store
log/*
tmp/*
stats/tmp
TAGS
*~
.#*
public/grammar
schema/schema.rb
schema/*_structure.sql
schema/*.sqlite3
schema/*.sqlite
schema/*.db
*.sqlite
*.sqlite3
*.db
gems/gems/*
gems/specifications/*
gems/environment.rb
src/*
.hgignore
.hg/*
.svn/*
.*.swp
