.message.notice
  We're trying to decide what to do next!
  %a{:href => "http://spreadsheets.google.com/viewform?formkey=dDBSeE5ma01iOXFfLTVZZE5hTmg5U3c6MA.."} Take our survey to help us figure it out!
