.links
  %button{:type => "button", :onclick => "window.location = '/wiki/::Random'"} Random Article

.logo 
  <img src="http://upload.wikimedia.org/wikipedia/meta/thumb/7/7c/Wikipedia-word.png/174px-Wikipedia-word.png" /><br/>

#main_box
  %h2 Today's Featured Article

  #featured_article= Wikipedia.featured_article

  .today
    %h2 In The News...
    = Wikipedia.today