%h2= @image.name

- if params[:backlink]
  %a{:href => params[:backlink].force_encoding("UTF-8")} <<< Back to Article

#image_wrapper
  %img{:src => @image.url(params[:size] || "310"), :alt => params[:file].force_encoding("UTF-8")}/

- if @image.original_url
  %a{:href => @image.original_url.force_encoding("UTF-8")} Download Full Version