@import _tables.sass

/ GLOBALS
html
  :font-size 0.8em
body
  :line-height 1
  :color #000
  :background #fff
  :font-family sans-serif
  :overflow-x hidden
  :-webkit-text-size-adjust none
p, li, dl, #featured_article
  :line-height 1.65
pre
  :white-space pre-wrap
h2
  :border-bottom 1px solid #aaa
  :padding-top 0.3em

/ LINKS
a   
  :text-decoration none 
  :color #002bb8
  &:visited 
    :color #5a3696
  &:active 
    :color #faa700
  &:hover 
    :text-decoration underline 

a.new, a.new:visited, a.new:hover
  color: red

a.back_to_top, a.back_to_top:visited
  margin-top: 7px
  color: blue
    
.links
  float: left
  padding: 10px
  
/ MISC THINGS
#contentSub, .dablink
  :margin-bottom 10px

#firstHeading
  font-size: 1.7em

h2
  font-size: 1.3em

.section_anchors a
  display: block
.section_anchor
  height: 1px
  width: 1px

/ Elements that should never be shown
.printonly, .geo-multi-punct, .geo-nondefault, .Z3988
  display: none

/ Elements of the main page we never want to see
#featured_article .noprint, .today .noprint
  display: none

/ IMAGES BOXES    
.thumb
  :border 1px solid #ccc
  :-webkit-border-radius 5px
  :-moz-border-radius 5px
  :background #f9f9f9
  :margin-bottom 10px
  .thumbinner[style]
    :margin 5px auto
  .thumbcaption
    :width 100%
    :margin 5px 10px 0
    :text-align center
    :width auto !important

img.thumbborder
  :border 1px solid #ccc


/ HACKS for different languages
.floatright
  float: right