@import _content.sass

/Set margins
body
  margin: 0

#header
  margin: 8px 8px 0 8px

#content_wrapper
  clear: both
  margin: 0 8px

#footer
  margin: 0 8px

#header
  img, form, input, button
    vertical-align: middle
    display: inline-block

/ Defaults for interface elements #header #nav #message #footer
#searchbox
  width: auto
  padding: 5px
  border: 1px solid #ccc
  -webkit-border-radius: 2px
  -moz-border-radius: 2px
  a, img
    border: 0px
    vertical-align: middle
  #goButton
    border: 0
    background: url(/images/s.gif) no-repeat top left
    height: 25px
    width: 27px
  #searchField
    width: auto

/ Nav element for Home, Random
#nav
  -webkit-border-radius: 2px
  -moz-border-radius: 2px
  clear: both
  padding: 5px 0
  form, button
    display: inline-block
  button
    background: url(/images/buttonbg.gif) no-repeat center
    border: 0
    height: 23px
    width: 83px

/ Disable page
#disableButtons
  text-align: center
  button
    background: url(/images/buttonbg.gif) no-repeat center
    border: 0
    height: 23px
    width: 83px
  #backButton
    margin-top: 5em

/ Notice box
.mwm-notice
  padding: 5px
  background: #ddd
  -webkit-border-radius: 5px
  -moz-border-radius 5px
  margin-top: 5px
  text-align: center
  border: 1px solid grey

/ Sitenotice like message
.mwm-message.mwm-notice
  font-size: 1.1em

#image_wrapper
  margin: 8px 0 8px -3px

/ Copyright footer
#footer
  padding-top: 1em
  #perm
    padding-top: 2em
    font-size: 90%
  #copyright
    padding: 1em 0
    font-size: 80%

/ Highlight clicked reference in blue to help navigation
ol.references > li:target,
sup.reference:target,
span.citation:target, cite:target
  background-color: #DEF

/ Javascript
.content_block,
.section_anchors,
button.section_heading.hide
  display: none