@import _tables.sass

#header
  width: 293px
  height: 30px
  padding: 8px 0 0 8px
  margin: 2
  z-index: 1
  border: 1px solid #ccc
  -webkit-border-radius: 2px
  -moz-border-radius: 2px
  a, img
    border: 0px
  #logo
    float: left
    padding-right: 5px
#nav
  display: none
  height: 30px
  width: 148px
  clear: both
  z-index: 1
  background: white
  margin: -14px 0px 0px 0px
  padding: 0px 0 0 0
  border: 1px solid #ccc
  border-top: 0px
  -webkit-border-radius: 2px
  -moz-border-radius: 2px
  button
    margin-top: 4px
    margin-left: 10px
    float: left

.notice 
  padding: 5px
  background: #ddd
  -webkit-border-radius: 5px
  margin-top: 5px
  text-align: center
  #perm
    margin-top: 10px
    font-size: 80%

#feedback
  font-size: 15px


/ GLOBALS
html
  :font-size 67.5%
body
  :line-height 1
  :font-size 1.2em
  :color #000
  :background #fff
  :font-family sans-serif
  :overflow-x hidden
  :-webkit-user-select none
  :-webkit-text-size-adjust none
p, li, dl, #featured_article
  :line-height 1.65
pre
  :white-space pre-wrap
h2
  :border-bottom 1px solid #aaa
  :padding 5px 0
a   
  :text-decoration none 
  :color #002bb8
  &:visited 
    :color #5a3696
  &:active 
    :color #faa700
  &:hover 
    :text-decoration underline 
    
.links
  float: left
  padding: 10px

/ MISC THINGS
#contentSub, .dablink
  :margin-bottom 10px
  
img.thumbborder
  :border 1px solid #ccc
  
/ IMAGES BOXES    
.thumb
  :border 1px solid #ccc
  :-webkit-border-radius 5px
  :-moz-border-radius 5px
  :background #f9f9f9
  :margin-bottom 10px
  .thumbinner[style]
    :margin 5px auto
  .thumbcaption
    :width 100%
    :margin 5px 10px 0
    :text-align center
    :width auto !important 



#featured_article
  .noprint
    display: none
#firstHeading
  font-size: 140%
      
/ HELP SECTION
.help
  dt
    :font-weight bold
    :border-bottom 1px solid #aaa
    :padding-bottom 2px
    :font-size 1.05em
  dd
    :margin-bottom 25px        
    :margin-left 20px

#image
  padding-top: 15px

#footer
  padding-top: 20px
  font-size: 80%

.today
  .noprint
    display: none
    
/ hacks for different languages

.floatright
  float: right