@import default.sass

/ Webkit specific overrides
#header
  margin: 0px

#nav
  display: none
  border: 1px solid #ccc
  border-top: 0px
  margin: -1px 0 0 0

#perm
  margin-top: 10px
  font-size: 80%