<form action="http://wikimedia.mcommons.com/profiles/join  <http://mcommons.com/profiles/join>" method="POST">
<input type="hidden" name="redirect_to" value="http://mcommons.com/redirect_to_instructions" />
<label>First name:<br /><input type="text" name="person[first_name]" /></label><br />
<label>Last name:<br /><input type="text" name="person[last_name]" /></label><br />
<label>Email:<br /><input type="text" name="person[email]" /></label><br />
<label>Postal code:<br /><input type="text" name="person[postal_code]" /></label><br />
<label>Mobile #:<br /><input type="text" name="person[phone]" /></label><br />
<input type="hidden" name="fundraising" value="304">Donate$10<br>

<input type="submit" value="Submit" />
</form>
<a href="http://mobilecommons.com/terms" style="font-size:75%">Msg&  Data Rates May Apply</a>