/*
Syntax error: Invalid CSS after "": expected selector, was "/ Defaults for ..."
        on line 3 of /Users/hcatlin/dev/wikimedia-mobile/public/stylesheets/sass/iphone.sass

1: @import webkit.sass
2: 
3: / Defaults for interface elements #header #nav #message #footer
4: #searchbox
5:   width: 292px
6:   padding: 5px
7:   border: 1px solid #ccc
8:   -webkit-border-radius: 2px

Backtrace:
/Users/hcatlin/dev/wikimedia-mobile/public/stylesheets/sass/iphone.sass:3
/Users/hcatlin/.rvm/gems/ruby-1.9.1-p378/gems/haml-3.0.21/lib/sass/scss/parser.rb:821:in `expected'
/Users/hcatlin/.rvm/gems/ruby-1.9.1-p378/gems/haml-3.0.21/lib/sass/scss/parser.rb:796:in `expected'
/Users/hcatlin/.rvm/gems/ruby-1.9.1-p378/gems/haml-3.0.21/lib/sass/scss/parser.rb:779:in `expr!'
/Users/hcatlin/.rvm/gems/ruby-1.9.1-p378/gems/haml-3.0.21/lib/sass/scss/static_parser.rb:18:in `parse_selector'
/Users/hcatlin/.rvm/gems/ruby-1.9.1-p378/gems/haml-3.0.21/lib/sass/tree/rule_node.rb:189:in `perform!'
/Users/hcatlin/.rvm/gems/ruby-1.9.1-p378/gems/haml-3.0.21/lib/sass/tree/node.rb:305:in `_perform'
/Users/hcatlin/.rvm/gems/ruby-1.9.1-p378/gems/haml-3.0.21/lib/sass/tree/node.rb:213:in `perform'
/Users/hcatlin/.rvm/gems/ruby-1.9.1-p378/gems/haml-3.0.21/lib/sass/tree/node.rb:326:in `block in perform_children'
/Users/hcatlin/.rvm/gems/ruby-1.9.1-p378/gems/haml-3.0.21/lib/sass/tree/node.rb:326:in `map'
/Users/hcatlin/.rvm/gems/ruby-1.9.1-p378/gems/haml-3.0.21/lib/sass/tree/node.rb:326:in `perform_children'
/Users/hcatlin/.rvm/gems/ruby-1.9.1-p378/gems/haml-3.0.21/lib/sass/tree/node.rb:317:in `perform!'
/Users/hcatlin/.rvm/gems/ruby-1.9.1-p378/gems/haml-3.0.21/lib/sass/tree/root_node.rb:59:in `perform!'
/Users/hcatlin/.rvm/gems/ruby-1.9.1-p378/gems/haml-3.0.21/lib/sass/tree/node.rb:305:in `_perform'
/Users/hcatlin/.rvm/gems/ruby-1.9.1-p378/gems/haml-3.0.21/lib/sass/tree/node.rb:213:in `perform'
/Users/hcatlin/.rvm/gems/ruby-1.9.1-p378/gems/haml-3.0.21/lib/sass/tree/root_node.rb:37:in `perform'
/Users/hcatlin/.rvm/gems/ruby-1.9.1-p378/gems/haml-3.0.21/lib/sass/tree/root_node.rb:29:in `render'
/Users/hcatlin/.rvm/gems/ruby-1.9.1-p378/gems/haml-3.0.21/lib/sass/plugin.rb:220:in `update_stylesheet'
/Users/hcatlin/.rvm/gems/ruby-1.9.1-p378/gems/haml-3.0.21/lib/sass/plugin.rb:85:in `block (2 levels) in update_stylesheets'
/Users/hcatlin/.rvm/gems/ruby-1.9.1-p378/gems/haml-3.0.21/lib/sass/plugin.rb:78:in `each'
/Users/hcatlin/.rvm/gems/ruby-1.9.1-p378/gems/haml-3.0.21/lib/sass/plugin.rb:78:in `block in update_stylesheets'
/Users/hcatlin/.rvm/gems/ruby-1.9.1-p378/gems/haml-3.0.21/lib/sass/plugin.rb:76:in `each'
/Users/hcatlin/.rvm/gems/ruby-1.9.1-p378/gems/haml-3.0.21/lib/sass/plugin.rb:76:in `update_stylesheets'
/Users/hcatlin/.rvm/gems/ruby-1.9.1-p378/gems/haml-3.0.21/lib/sass/plugin.rb:50:in `check_for_updates'
/Users/hcatlin/.rvm/gems/ruby-1.9.1-p378/gems/haml-3.0.21/lib/sass/plugin/rack.rb:40:in `call'
/Users/hcatlin/.rvm/gems/ruby-1.9.1-p378/gems/thin-1.2.7/lib/thin/connection.rb:76:in `block in pre_process'
/Users/hcatlin/.rvm/gems/ruby-1.9.1-p378/gems/thin-1.2.7/lib/thin/connection.rb:74:in `catch'
/Users/hcatlin/.rvm/gems/ruby-1.9.1-p378/gems/thin-1.2.7/lib/thin/connection.rb:74:in `pre_process'
/Users/hcatlin/.rvm/gems/ruby-1.9.1-p378/gems/thin-1.2.7/lib/thin/connection.rb:57:in `process'
/Users/hcatlin/dev/wikimedia-mobile/lib/thin_connection.rb:6:in `receive_data'
/Users/hcatlin/.rvm/gems/ruby-1.9.1-p378/gems/eventmachine-0.12.10/lib/eventmachine.rb:256:in `run_machine'
/Users/hcatlin/.rvm/gems/ruby-1.9.1-p378/gems/eventmachine-0.12.10/lib/eventmachine.rb:256:in `run'
/Users/hcatlin/.rvm/gems/ruby-1.9.1-p378/gems/thin-1.2.7/lib/thin/backends/base.rb:57:in `start'
/Users/hcatlin/.rvm/gems/ruby-1.9.1-p378/gems/thin-1.2.7/lib/thin/server.rb:156:in `start'
/Users/hcatlin/.rvm/gems/ruby-1.9.1-p378/gems/merb-core-1.1.3/lib/merb-core/rack/adapter/thin.rb:30:in `start_server'
/Users/hcatlin/.rvm/gems/ruby-1.9.1-p378/gems/merb-core-1.1.3/lib/merb-core/rack/adapter/abstract.rb:305:in `start_at_port'
/Users/hcatlin/.rvm/gems/ruby-1.9.1-p378/gems/merb-core-1.1.3/lib/merb-core/rack/adapter/abstract.rb:138:in `start'
/Users/hcatlin/.rvm/gems/ruby-1.9.1-p378/gems/merb-core-1.1.3/lib/merb-core/server.rb:174:in `bootup'
/Users/hcatlin/.rvm/gems/ruby-1.9.1-p378/gems/merb-core-1.1.3/lib/merb-core/server.rb:42:in `start'
/Users/hcatlin/.rvm/gems/ruby-1.9.1-p378/gems/merb-core-1.1.3/lib/merb-core.rb:165:in `start'
/Users/hcatlin/.rvm/gems/ruby-1.9.1-p378/gems/merb-core-1.1.3/bin/merb:20:in `<top (required)>'
/Users/hcatlin/.rvm/gems/ruby-1.9.1-p378/bin/merb:19:in `load'
/Users/hcatlin/.rvm/gems/ruby-1.9.1-p378/bin/merb:19:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"\": expected selector, was \"/ Defaults for ...\"\A         on line 3 of /Users/hcatlin/dev/wikimedia-mobile/public/stylesheets/sass/iphone.sass\A \A 1: @import webkit.sass\A 2: \A 3: / Defaults for interface elements #header #nav #message #footer\A 4: #searchbox\A 5:   width: 292px\A 6:   padding: 5px\A 7:   border: 1px solid #ccc\A 8:   -webkit-border-radius: 2px"; }
