
table {
  border-spacing: 0 !important;
  width: 100%;
  border-collapse: collapse !important;
  border: 1px solid #ccc;
  padding: 3px;
  margin-bottom: 15px; }
  table td, table th {
    border: 1px solid #ccc;
    padding: 3px; }
  table table {
    border: 0; }
    table table td, table table th {
      border: 0; }
  table.toc {
    background: #f9f9f9; }
    table.toc h2 {
      border: 0;
      padding: 0;
      margin-top: 5px; }
  table.navbox {
    font-size: 0.9em;
    width: 100% !important; }
    table.navbox th.navbox-title {
      background: #CCCCFF;
      padding: 5px; }
    table.navbox td.navbox-abovebelow {
      padding: 3px; }
    table.navbox td.navbox-group {
      background: #DDDDFF;
      width: 25%;
      padding: 3px; }
    table.navbox td.navbox-group+td {
      padding: 3px; }
    table.navbox div[style*="padding"] {
      padding-left: 0 !important;
      padding-right: 0 !important; }
      table.navbox div[style*="padding"] a {
        white-space: pre-wrap; }
    table.navbox span[style*="white"] {
      white-space: pre-wrap !important; }
    table.navbox td, table.navbox th {
      padding: 0; }
    table.navbox table {
      margin-bottom: 0; }
  table.wikitable th {
    background: #f3f3f3; }
  table[style] {
    width: 100% !important;
    float: none !important;
    margin-left: 0 !important; }
  table.infobox {
    background: #f9f9f9; }
    table.infobox th, table.infobox td {
      border: 0; }
    table.infobox td[colspan="3"], table.infobox th[colspan="3"] {
      border: 1px solid #ccc; }
  table.gallery {
    background: #f9f9f9;
    border-bottom: 0; }
    table.gallery th, table.gallery td {
      display: block;
      border: 0;
      border-bottom: 1px solid #ccc; }
    table.gallery .gallerybox[style] {
      width: auto !important;
      margin-bottom: -16px; }
    table.gallery .thumb[style] {
      border: 0;
      padding: 0 !important;
      width: auto !important;
      margin: 0 auto; }
    table.gallery .gallerytext {
      margin-top: -12px;
      text-align: center; }
  table.geography[style] th {
    text-align: left; }
  table.geography[style] td[style*="text-align"], table.geography[style] td[colspan="2"] {
    text-align: left !important;
    margin-left: 0 !important;
    margin-right: 0 !important; }
    table.geography[style] td[style*="text-align"] div[style], table.geography[style] td[colspan="2"] div[style] {
      text-align: left !important; }

table.admin {
  width: 300px; }


html {
  font-size: 0.8em; }

body {
  line-height: 1;
  color: #000;
  background: #fff;
  font-family: sans-serif;
  overflow-x: hidden;
  -webkit-text-size-adjust: none; }

p, li, dl, #featured_article {
  line-height: 1.65; }

pre {
  white-space: pre-wrap; }

h2 {
  border-bottom: 1px solid #aaa;
  padding-top: 0.3em; }


a {
  text-decoration: none;
  color: #002bb8; }
  a:visited {
    color: #5a3696; }
  a:active {
    color: #faa700; }
  a:hover {
    text-decoration: underline; }

a.new, a.new:visited, a.new:hover {
  color: red; }

a.back_to_top, a.back_to_top:visited {
  margin-top: 7px;
  color: blue; }

.links {
  float: left;
  padding: 10px; }


#contentSub, .dablink {
  margin-bottom: 10px; }

#firstHeading {
  font-size: 1.7em; }

h2 {
  font-size: 1.3em; }

.section_anchors a {
  display: block; }

.section_anchor {
  height: 1px;
  width: 1px; }


.printonly, .geo-multi-punct, .geo-nondefault {
  display: none; }


#featured_article .noprint, .today .noprint {
  display: none; }


.thumb {
  border: 1px solid #ccc;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  background: #f9f9f9;
  margin-bottom: 10px; }
  .thumb .thumbinner[style] {
    margin: 5px auto; }
  .thumb .thumbcaption {
    width: 100%;
    margin: 5px 10px 0;
    text-align: center;
    width: auto !important; }

img.thumbborder {
  border: 1px solid #ccc; }


.floatright {
  float: right; }


body {
  margin: 0; }

#header {
  margin: 8px 8px 0 8px; }

#content_wrapper {
  clear: both;
  margin: 0 8px; }

#footer {
  margin: 0 8px; }

#header img, #header form, #header input, #header button {
  vertical-align: middle;
  display: inline-block; }


#searchbox {
  width: auto;
  padding: 5px;
  border: 1px solid #ccc;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px; }
  #searchbox a, #searchbox img {
    border: 0px;
    vertical-align: middle; }
  #searchbox #goButton {
    border: 0;
    background: url(/images/s.gif) no-repeat top left;
    height: 25px;
    width: 27px; }
  #searchbox #searchField {
    width: auto; }


#nav {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  clear: both;
  padding: 5px 0; }
  #nav form, #nav button {
    display: inline-block; }
  #nav button {
    background: url(/images/buttonbg.gif) no-repeat center;
    border: 0;
    height: 23px;
    width: 83px; }


.notice {
  padding: 5px;
  background: #ddd;
  -webkit-border-radius: 5px;
  margin-top: 5px;
  text-align: center;
  border: 1px solid grey; }


.message.notice {
  font-size: 1.1em; }


#footer {
  padding-top: 1em; }
  #footer #perm {
    padding-top: 1em;
    font-size: 80%; }
  #footer #copyright {
    padding: 1em 0;
    font-size: 80%; }


content_block,
button.section_heading.hide {
  display: none; }

#header, #footer, #content_wrapper {
  margin: 0 2px; }

#searchbox {
  border: 0px;
  padding: 2px;
  height: 26px; }
  #searchbox form, #searchbox button, #searchbox img, #searchbox input {
    display: inline; }
  #searchbox input#searchField {
    width: 60%; }
  #searchbox input#searchButton {
    margin-left: 2px; }
  #searchbox input#submitButton {
    display: none; }

.nav {
  border: 0;
  border-bottom: 2px solid #6D84B4;
  border-top: 2px solid #6D84B4;
  height: auto;
  clear: both;
  padding: 5px 0 5px 0;
  margin: 0; }

#nav {
  padding: 5px 0 5px 0; }

.notice {
  text-align: left; }

.message.notice {
  display: none; }

a.arrow {
  float: right;
  margin-right: 5px; }

span.idx {
  display: none; }
