
- if @article
  :javascript
    var title = "#{@article.title.gsub("_", " ")}";
    var server = "#{@article.server.base_url}";
    function shouldCache() {
      return true;
    }
- elsif current_name != ""
  :javascript
    var title = "#{@name}";
    var server = "#{current_server.base_url}";