- if request.device.supports_javascript
  - if @article
    :javascript
      var title = "#{@article.title.gsub("_", " ")}";
      var server = "#{@article.server.base_url}";
  - elsif current_name != ""
    :javascript
      var title = "#{@name}";
      var server = "#{current_server.base_url}";