
- if @article
  :javascript
    var title = "#{@article.title.gsub("_", " ")}";
    var server = "#{@article.server.base_url}";
    function shouldCache() {
      return true;
    }
- elsif current_name != ""
  :javascript
    var title = "#{@name}";
    var server = "#{current_server.base_url}";

- if request.device.format_name == :native_iphone
  <script type="text/javascript" language="javascript" SRC="/jquery.js"></script>