#header
  %img{:src => "/images/w.gif", :id => "logo", :alt => "W logo"}/
  %form.search_bar{:action => "/wiki", :method => "get"}
    %input#searchField{:name => "search", :type => "search", :size => "28", :value => CGI::unescape(current_name).force_encoding("UTF-8")}/
    -# Had to do the clearText() for android
    %button#goButton{:type => "submit"}
      
#nav
  = button_to language_object["home_button"], "/wiki/::Home"
  = button_to language_object["random_button"], "/wiki/::Random", "random"
