#header
  %img{:src => "/images/w.gif", :id => "logo"}/
  %form.search_bar{:action => "/wiki", :method => "get"}
    %input{:name => "search", :type => "text", :size => "28", :value => CGI::unescape(current_name)}/
    %button{:type => "submit"}= go_text
#nav
  = button_to language_object["home_button"], "/wiki/::Home"
  = button_to language_object["random_button"], "/wiki/::Random"
