<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-us" lang="en-us">
  <head>
    <title>Wikipedia Mobile</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <%= css_include_tag :application, :bundle => true %>
    <meta name = "viewport" content = "width=device-width">
    <meta name="ROBOTS" content="NOINDEX, NOFOLLOW">
  </head>
  <% if @article %>
  <script type="text/javascript">
    var title = "<%= @article.title %>";
    var server = "<%= @article.server %>";
    
    document.addEventListener("DOMContentLoaded", function() {
      NodeList.prototype.forEach = Array.prototype.forEach;
      
      document.querySelectorAll("button.show").forEach(function(button) {
        button.addEventListener("click", function(e) {
          var section_id = button.getAttribute("section_id");
          document.getElementById("content_" + section_id).style.display = "";
          button.style.display = "none";
          document.querySelector("button.hide[section_id='" + section_id + "']").style.display = ""
        });
      });
      
      document.querySelectorAll("button.hide").forEach(function(button) {
        button.addEventListener("click", function(e) {
          var section_id = button.getAttribute("section_id");
          document.getElementById("content_" + section_id).style.display = "none";
          button.style.display = "none";
          document.querySelector("button.show[section_id='" + section_id + "']").style.display = ""
        });
      });
    });
    
  </script>
  <% end %>
  <body>
    <div id="content_wrapper">
      <%= catch_content :for_layout %>
    </div>
    <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
    var pageTracker = _gat._getTracker("UA-121285-9");
    pageTracker._trackPageview();
    </script>
  </body>
</html>