!!! XML
<!DOCTYPE wml PUBLIC "-//WAPFORUM//DTD WML 1.1//EN" "http://www.wapforum.org/DTD/wml_1.1.xml">
%wml
  %head
    <meta name="ROBOTS" content="NOINDEX, NOFOLLOW" />
    <meta name="character-set=utf-8" content="charset"/>
    <meta forua="true" http-equiv="Cache-Control" content="max-age=0"/>
  %template
    %do{:name => "home", :type => "options", :label => language_object["home_button"]}><
      %go{:href => "/#{variant_name}/::Home"}/
    %do{:name => "random", :type => "options", :label => language_object["random_button"]}><
      %go{:href => "/#{variant_name}/::Random"}/
    %do{:name => "toc", :type => "options", :label => "TOC"}><
      %go{:href => "#toc"}/
  = catch_content :for_layout
  %card{:id=>"copyright", :title=>"Copyright"}
    = language_object["copyright"]
