!!! XML
<!DOCTYPE wml PUBLIC "-//WAPFORUM//DTD WML 1.1//EN" "http://www.wapforum.org/DTD/wml_1.1.xml">
%wml
  %head
    <meta name="ROBOTS" content="NOINDEX, NOFOLLOW" />
    <meta name="character-set=utf-8" content="charset"/>
    <meta forua="true" http-equiv="Cache-Control" content="max-age=0"/>
  = catch_content :for_layout
  %card{:id=>"card2", :title=>"Copyright"}
    = language_object["copyright"]