!!! XML
<!DOCTYPE wml PUBLIC "-//WAPFORUM//DTD WML 1.1//EN"
"http://www.wapforum.org/DTD/wml_1.1.xml">

%wml
  = search_bar if request.device.search_bar
  = catch_content :for_layout
  %card#copyright
    %p
      = language_object["copyright"]
      
