<div id="container">
  <h2>Page not found!</h2>
  <p>Wikipedia mobile is still under active development and we are working
  hard to fix all of our internal errors. We have been notified about this error
  and will be fixing it soon. Please check back!</p>
</div>
