<div id="container">
  <h2><%= language_object["error_page_title"] %></h2>
  <p><%= language_object["error_page_text"] %></p>
</div>
<script type="text/javascript">
  var language = window.location.host.split(".")[0];
  
  if(language == "m") {
    language = navigator.language.substr(0,2);
  }
  
  var path = window.location.pathname;
  
  if(path.match("::Home")) {
    path = "/";
  }
  
  var redirectTo = "http://" + language + ".wikipedia.org/w/mobileRedirect.php?to=http://" + language + ".wikipedia.org" + path;
  window.location = redirectTo;
</script>